.App {
    max-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header-nav"
        "main"
        "footer";
}

.header-nav{
    margin-bottom: 1rem;
}